body{
    background-color: #1e1e1e;
    color: #e0e0e0;
    text-align: center;
}

.button{
    background-color: #333333;
    color: #e0e0e0;
}

#addbutton{
    margin-top: 20px;
}

.container {
    text-align: left;
    width: 90%;          
    max-width: 400px;    
    margin: 0 auto;      
    padding: 15px 0;     
}

input[type="text"], textarea {
    width: 100%;            
    box-sizing: border-box; 
    padding: 10px;         
    margin-top: 5px;        
}


